* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("img/imagem.login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-box {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(104, 176, 104, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.login-box h1 {
  text-align: center;
  color: #2d6a4f;
  margin-bottom: 10px;
}


.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #ffffff;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
}

.input-group input:focus {
  border-color: #2d6a4f;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #2d6a4f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1b4332;
}

